<div class="step-template">
  <form class="needs-validation" [formGroup]="userForm" novalidate>
    <div *ngIf="currentStep===1" id="step-1" class="mt-5">
      <div class="form-steps-header">
        <div class="step-bubble step-incomplete step-current">1</div>
        <h4>Datos personales</h4>
      </div>
      <div class="form-step card m-0 p-1 pb-4">
        <div class="row">
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="name" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Nombre &#x2a;</span>
              </label>
              <input class="form-control mt-2" type="text" id="name" formControlName="name" required
                     [ngClass]="{'is-valid': !form['name'].errors && form['name'].touched,'is-invalid': form['name'].errors && form['name'].touched}"/>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="lastname1" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Primer apellido &#x2a;</span>
              </label>
              <input class="form-control mt-2" type="text" id="lastname1" formControlName="lastname1" required
                     [ngClass]="{'is-valid': !form['lastname1'].errors && form['lastname1'].touched,'is-invalid': form['lastname1'].errors && form['lastname1'].touched}"/>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="lastname2" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Segundo apellido</span>
              </label>
              <input class="form-control mt-2" type="text" id="lastname2" formControlName="lastname2"/>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2 mt-2">
              <button class="btn btn-primary" (click)="nextStep(2)" [disabled]="form['name'].invalid || form['lastname1'].invalid">Siguiente <span class="icon icon-arrow-right"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentStep===2" id="step-2" class="mt-5">
      <div class="form-steps-header">
        <div class="step-bubble step-incomplete step-current">2</div>
        <h4>¿Cómo le contactamos?</h4>
      </div>
      <div class="form-step card m-0 p-1 pb-4">
        <div class="row">
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="email" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Email &#x2a;</span>
              </label>
              <input class="form-control mt-2" type="email" id="email" formControlName="email" required
                     [ngClass]="{'is-valid': !form['email'].errors && form['email'].touched,'is-invalid': form['email'].errors && form['email'].touched}"/>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="phone1" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Teléfono principal &#x2a;</span>
              </label>
              <input class="form-control mt-2" type="text" id="phone1" formControlName="phone1" required
                     [ngClass]="{'is-valid': !form['phone1'].errors && form['phone1'].touched,'is-invalid': form['phone1'].errors && form['phone1'].touched}"/>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="phone2" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Otro teléfono</span>
              </label>
              <input class="form-control mt-2" type="text" id="phone2" formControlName="phone2" [ngClass]="{'is-valid': !form['phone2'].errors && form['phone2'].touched,'is-invalid': form['phone2'].errors && form['phone2'].touched}"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2 mt-2">
            <button class="btn btn-primary" (click)="previousStep(1)"><span class="icon icon-arrow-left"></span> Anterior</button>
            <button class="btn btn-primary" style="margin-left: 5px;" (click)="nextStep(3)" [disabled]="form['email'].invalid || form['phone1'].invalid">Siguiente <span class="icon icon-arrow-right"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentStep===3" id="step-3" class="mt-5">
      <div class="form-steps-header mt-4">
        <div class="step-bubble step-incomplete step-current">3</div>
        <h4>Información sobre su seguro</h4>
      </div>
      <div class="form-step card m-0 p-1 pb-4">
        <div class="row">
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="company" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Anterior compañía</span>
              </label>
              <select class="form-control mt-2" formControlName="company" id="company">
                <option *ngFor="let broker of brokers" [ngValue]="broker.name">{{broker.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="form-group">
              <label for="type" class="ms-2 position-absolute">
                <span class="h6 small bg-white px-1">Tipo de seguro &#x2a;</span>
              </label>
              <select class="form-control mt-2" formControlName="type" id="type" required>
                <option *ngFor="let insurance of insurances" [ngValue]="insurance.name">{{insurance.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2 mt-4">
            <div class="form-group">
              <label for="checkLegal" class="ms-2 position-absolute">
                <span class="h6 small px-1 label-privacy">
                  He leído y acepto la <a href="javascript:void(0)" routerLink="/privacy">política de privacidad</a> del sitio
                </span>
              </label>
              <input class="form-check-input" type="checkbox" value="" formControlName="checkLegal" id="checkLegal" required
                     [ngClass]="{'is-valid': !form['checkLegal'].errors && form['checkLegal'].touched,'is-invalid': form['checkLegal'].errors && form['checkLegal'].touched}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2 mt-2">
            <button class="btn btn-primary" (click)="previousStep(2)"><span class="icon icon-arrow-left"></span> Anterior</button>
            <button class="btn btn-primary" style="margin-left: 5px;" (click)="sendData()" [disabled]="form['type'].invalid || form['checkLegal'].invalid">Enviar <span class="icon icon-paper-plane"></span></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
