.ms-2 {
  margin-top: -0.75rem !important;
}

.form-control {
  padding: 0.575rem 0.75rem;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FFFFFF;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 0.7em;
  border: 1px solid #3a3e4742;
}

.was-validated select.form-control:invalid, select.form-control.is-invalid, .was-validated select.form-control:valid, select.form-control.is-valid {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') !important;
  background-color: transparent !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .form-control:valid, .form-control.is-valid {
  background-image: none !important;
  background-color: transparent !important;
}

.form-steps-header {
  display: flex;
}

h4 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.form-step {
  border: none;
}

.step-circle {
  background: #A82828;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20% auto;
  transform-origin: center;
  box-shadow: 0 0 0 3px #5a99d4;
}

.step-bubble {
  padding: 12px;
  border: 3px solid #A82828;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #A82828;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

.step-divider {
  height: 2px;
  background: #A82828;
  flex: 1;
  margin: 0px 10px;
}

.step-current, .step-complete {
  background: #A82828;
  color: #FFFFFF;
}

.step-incomplete {
  cursor: not-allowed;
  pointer-events: none;
}

#checkLegal {
  margin-top: -0.5em;
}

.label-privacy {
  padding-left: 12px !important;
}

.label-privacy a {
  text-decoration: none;
  font-weight: 600;
  color: #a82828;
}
