<div class="mt-2 mb-4 animated fadeIn">
  <h4 class="mb-3">Ley de cookies</h4>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Qué son las cookies?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Las cookies son unos archivos que se instalan en el equipo desde el que accedes a nuestra web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qués tipo de cookies existen?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h4>Cookies de entidad</h4>
          <p>Cookies propias: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.</p>
          <p>Cookies de terceros : Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.</p>
          <h4>Cookies de tiempo</h4>
          <p>Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web.</p>
          <p>Cookies persistentes: Son aquéllas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.</p>
          <h4>Cookies de finalidad</h4>
          <p>Cookies de análisis:Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</p>
          <p>Cookies publicitarias: Son aquéllas que permiten la gestión de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.</p>
          <p>Cookies de publicidad comportamental: Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada. Gracias a ellas, podemos conocer los hábitos de navegación en internet y mostrarte publicidad relacionada con tu perfil de navegación.</p>
          <p>Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</p>
          <p>Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Qué tipo de cookies utiliza esta página?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h4>Cookies de terceros (Google): Preferencias</h4>
          <p>Estas cookies permiten que nuestros sitios web recuerden información que cambia el aspecto o el comportamiento del sitio como, por ejemplo, tu idioma preferido o la región en la que te encuentras. Por ejemplo, al recordar tu región, un sitio web puede proporcionarte noticias sobre el tráfico o boletines meteorológicos locales. Estas cookies también te permiten cambiar el tamaño del texto, la fuente y otras partes de las páginas web que puedes personalizar.</p>
          <p>La pérdida de la información almacenada en una cookie de preferencias puede hacer que la experiencia del sitio web sea menos funcional, pero no debe afectar a su funcionamiento.</p>
          <p>La mayoría de los usuarios de Google tienen en sus navegadores una cookie de preferencias denominada “PREF”. Un navegador envía esta cookie a través de solicitudes a los sitios de Google. La cookie PREF puede almacenar tus preferencias y otra información, en concreto tu idioma preferido (por ejemplo, inglés), así como el número de resultados de búsqueda que quieres que se muestren por página (por ejemplo, 10 o 20) y si quieres que esté activado el filtro SafeSearch de Google.</p>
          <h4>Seguridad</h4>
          <p>Utilizamos cookies de seguridad para autenticar a usuarios, evitar el uso fraudulento de credenciales de inicio de sesión y proteger los datos de usuarios frente a terceros no autorizados.</p>
          <p>Por ejemplo, utilizamos cookies denominadas “SID” y “HSID” que contienen registros encriptados y firmados de forma digital de la hora de inicio de sesión más reciente y del ID de cuenta de Google de un usuario. La combinación de estas dos cookies nos permite bloquear muchos tipos de ataques como, por ejemplo, intentos de robo del contenido de los formularios que rellenas en páginas web.</p>
          <h4>Publicidad</h4>
          <p>Utilizamos cookies para hacer que la publicidad sea más atractiva para los usuarios y más valiosa para los editores y anunciantes. Las cookies suelen utilizarse para seleccionar anuncios basados en contenido que es relevante para un usuario, mejorar los informes de rendimiento de la campaña y evitar mostrar anuncios que el usuario ya haya visto.</p>
          <p>Google utiliza cookies, como la cookie PREF, para poder personalizar los anuncios que se muestran en los servicios de Google como, por ejemplo, la Búsqueda de Google, especialmente cuando no has iniciado sesión en una cuenta de Google. También utilizamos cookies para anuncios que mostramos fuera de Google. Nuestra principal cookie publicitaria en sitios que no pertenecen a Google se denomina “id” y se almacena en navegadores en el dominio doubleclick.net. También utilizamos otras cookies denominadas “_drt_”, “FLC”, “NID” y “exchange_uid”.</p>
          <p>En ocasiones, una cookie puede habilitarse en el dominio del sitio que estés visitando. En el caso de DoubleClick, se puede habilitar una cookie denominada “__gads” en el dominio del sitio que estés visitando.</p>
          <p>Google también utiliza varias cookies de conversión para que los anunciantes puedan determinar el número de veces que las personas que hacen clic en sus anuncios terminan comprando sus productos. Estas cookies permiten a Google y al anunciante saber que has hecho clic en el anuncio y que has accedido posteriormente al sitio del anunciante. Sin embargo, Google no utiliza las cookies de conversión para segmentar los anuncios por intereses. Además, estas cookies solo duran un período de tiempo limitado. Aunque estas cookies generalmente se establecen en el dominio googleadservices.com, también se pueden establecer en el dominio google.com/ads. Los datos de las cookies de conversión también se pueden utilizar junto con tu cuenta de Google para vincular eventos de conversión en diferentes dispositivos que utilices. Solo se comparten datos de cookies de conversión anónimos con los anunciantes.</p>
          <h4>Estado de la sesión</h4>
          <p>Los sitios web suelen recopilar información sobre la forma en la que los usuarios interactúan con un sitio web. Esta información puede incluir las páginas que los usuarios visitan con mayor frecuencia y si los usuarios reciben mensajes de error de determinadas páginas. Utilizamos las denominadas “cookies de estado de la sesión” para poder mejorar nuestros servicios con el fin de mejorar la experiencia de navegación de los usuarios. Si estas cookies se bloquean o se eliminan, el sitio web seguirá funcionando.</p>
          <p>Estas cookies también se pueden utilizar para medir de forma anónima la eficacia del pago por clic (PPC) y de la publicidad afiliada.</p>
          <h4>Google Analytics</h4>
          <p>Google Analytics es la herramienta de analítica que ayuda a los sitios web y a los propietarios de aplicaciones a entender el modo en que sus visitantes interactúan con sus propiedades. Puede utilizar un conjunto de cookies para recopilar información e informar de las estadísticas de uso de los sitios web sin identificar personalmente a los visitantes de Google. Más información sobre las cookies de Google Analytics e información sobre la privacidad</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Revocación y eliminación de cookies
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Usted puede configurar su ordenador de manera que no reciba estas cookies, este hecho no impedirá que se pueda acceder a la información del sitio web de la empresa. Al utilizar este sitio web, usted es consciente del tratamiento de estos datos y los fines señalados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
