<div class="mt-2 mb-4">
  <h4 class="mb-3">Política de privacidad</h4>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Quién es el responsable del tratamiento de los datos personales?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>De acuerdo a lo establecido en la normativa vigente, le informamos que los datos personales que pueda facilitar durante el uso de la web www.G Broker.com (en adelante “la Web”) serán tratados en calidad de Responsable del tratamiento por GESTORÍAS ASOCIADAS G Broker, S.L. (en adelante, G Broker) con CIF B14659809, ubicada en Ctra. de Palma del Río A-431, KM 3.3 Parque Joyero de Córdoba , Planta 2ª, Fase 6B, Naves 2005-2006, 14005 Córdoba.</p>
          <p>Podrá ponerse en contacto con el Delegado de Protección de Datos de la empresa través del Correo electrónico: dpd@G Broker.com</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Está obligado a facilitar datos personales?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>La visita a la Web no supone que el usuario esté obligado a facilitar ninguna información sobre sí mismo. No obstante, el uso de algunos de los servicios disponible en la Web depende de la cumplimentación de formularios de información personal.</p>
          <p>Los datos que se soliciten en los diferentes formularios de la Web son los necesarios para prestar los servicios solicitados. La negativa a proporcionar los datos señalados como necesarios puede suponer la imposibilidad de prestar adecuadamente dichos servicios. Así mismo, podrá facilitar datos de modo voluntario con el objetivo de que puedan prestarse de modo óptimo estos servicios.</p>
          <p>Igualmente, determinadas funcionalidades de la web dependen de que usted autorice el tratamiento de sus datos personales.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Con qué finalidad tratará G Broker los datos personales del usuario?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Los datos personales que facilite para la prestación de los distintos servicios puestos a disposición a través de la Web serán tratados por G Broker conforme a las siguientes finalidades:</p>
          <p>En el caso de Acceso Online la finalidad es gestionar la creación de una cuenta de usuario para la atención de los diferentes servicios ofrecidos por G Broker, así como la tramitación de los pagos derivados de la prestación de dichos servicios y el análisis del uso de la Web.</p>
          <p>En el caso de consulta de documentos o acceso a los mismos, la finalidad es la gestión del servicio de búsqueda de documentos disponibles puestos a disposición a través de la página web.</p>
          <p>En el caso de la existencia de un contrato de prestación de servicios, los datos personales del usuario y/o cliente se guardarán con la finalidad de cumplir los servicios solicitados de tramitación y gestión de sanciones de tráfico y transporte, y comunicaciones con el interesado, contabilizar y facturar los servicios prestados, realizar comunicaciones en relación al encargo profesional prestado y realizar promociones comerciales.</p>
          <p>En el caso de que incluir algún correo de contacto facilitado, la finalidad será la contestación a la solicitud realizada, así como el envío de la newsletter a aquellos usuarios y clientes que así lo hayan solicitado previamente.</p>
          <p>En el caso de Servicios de atención telefónica, las llamadas realizadas al servicio de Atención al Cliente de G Broker pueden ser grabadas por motivos de calidad del servicio.</p>
          <p>Igualmente, le informamos que determinadas funcionalidades de la web dependen del uso de COOKIES, por lo que, en el caso de que no haya denegado la posibilidad de su uso, se procederá al tratamiento de determinada información relacionada con su uso de la Web. Puede ver las condiciones para su uso en la “Política de Cookies”.</p>
          <p>En el momento de solicitar cualquiera de los servicios o hacer uso de las funcionalidades indicadas, se le ofrecerá información más detallada sobre los concretos tratamientos.</p>
          <p>Los datos del Usuario serán conservados mientras sean necesarios para la prestación de los servicios solicitados y, una vez finalizada dicha prestación, sus datos serán conservados durante los plazos legalmente exigidos para las posibles responsabilidades derivadas del servicio prestado.</p>
          <p>En el caso de los Usuarios registrados, el tratamiento de los datos se mantendrá hasta la solicitud de la baja de la cuenta creada.</p>
          <p>En el caso de grabación de llamadas telefónicas por motivos de calidad, el tiempo máximo de conservación será de seis meses.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          ¿Durante cuánto tiempo tratará G Broker los datos personales?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Los datos del Usuario serán conservados mientras sean necesarios para la prestación de los servicios solicitados y, una vez finalizada dicha prestación, sus datos serán conservados durante los plazos legalmente exigidos para las posibles responsabilidades derivadas del servicio prestado.</p>
          <p>En el caso de los Usuarios registrados, el tratamiento de los datos se mantendrá hasta la solicitud de la baja de la cuenta creada.</p>
          <p>En el caso de grabación de llamadas telefónicas por motivos de calidad, el tiempo máximo de conservación será de seis meses.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          ¿Qué categorías de datos del usuario tratará G Broker?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Los datos personales necesarios para la prestación de los diferentes servicios disponibles en la Web serán los indicados en el correspondiente formulario habilitado a tal efecto.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          ¿Cuál es la legitimación del tratamiento de los datos del usuario?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>El tratamiento de los datos del Usuario por parte de G Broker se ampara en la solicitud por parte del Usuario de los servicios puestos a disposición a través de la Web o, en su caso, en el consentimiento que se le solicite para finalidades determinadas, y que podrá retirar en cualquier momento. No obstante, en caso de revocar su consentimiento, ello no afectará a la licitud de los tratamientos efectuados con anterioridad.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          ¿A qué destinatarios se comunicarán los datos del usuario?
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Los datos personales facilitados por el Usuario no serán comunicados a terceros, salvo que ello sea necesario para la prestación de los servicios solicitados o cuando el usuario hubiera aceptado expresamente su comunicación. En ambos supuestos, el Usuario será debidamente informado de dicha posibilidad antes de proceder a la comunicación de sus datos personales.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          ¿Qué responsabilidad tiene el usuario?
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>El Usuario será responsable de que los datos que facilite a G Broker sean verdaderos, exactos, completos y actualizados. A estos efectos, el Usuario responderá de la veracidad de todos los datos que comunique y deberá mantener debidamente actualizada la información facilitada, de tal forma que responda a su situación real.</p>
          <p>Igualmente, será responsable de las informaciones falsas o inexactas que proporcione a través de la Web y de los daños y perjuicios, directos o indirectos, que ello cause a G Broker o a terceros.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          ¿Qué derechos tiene el usuario?
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>El Usuario puede enviar un escrito a la dirección de G Broker (Avenida de la Diputación nº 1, 14009 – Córdoba) o a través de correo electrónico: dpd@G Broker.com con la Referencia “Protección de Datos”, adjuntando fotocopia de su documento de identidad, en cualquier momento y de manera gratuita, para:</li>
            <li>Revocar los consentimientos otorgados.</li>
            <li>Acceder a sus datos personales.</li>
            <li>Rectificar los datos inexactos o incompletos.</li>
            <li>Solicitar la supresión de sus datos cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</li>
            <li>Obtener de G Broker la limitación del tratamiento de los datos cuando se cumpla alguna de las condiciones previstas en la normativa de protección de datos.</li>
            <li>Solicitar la portabilidad de sus datos.</li>
            <li>Reclamar ante la Agencia Española de Protección de Datos (https://www.aepd.es/) cuando el interesado considere que G Broker ha vulnerado los derechos que le son reconocidos por la normativa aplicable en protección de datos.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          ¿Es seguro facilitar datos personales?
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>G Broker tratará los datos del Usuario en todo momento de forma absolutamente confidencial y guardando el preceptivo deber de secreto respecto de los mismos, de conformidad con lo previsto en la normativa de aplicación, adoptando al efecto las medidas de índole técnica y organizativas necesarias que garanticen la seguridad de sus datos y eviten su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          ¿Puede cambiar la política de privacidad?
        </button>
      </h2>
      <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>G Broker se reserva el derecho a modificar la presente Política de Privacidad a fin de adaptarla a las novedades legislativas que fueren procedentes. En dichos supuestos, anunciará en el Sitio Web los cambios introducidos con una antelación razonable a la de su puesta en práctica.</p>
        </div>
      </div>
    </div>
  </div>
</div>
