@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.primary-brand-color {
  color: #A82828;
}

.btn-primary {
  background-color: #A82828 !important;
  border-color: #A82828 !important;
  font-size: large;
}

.icon {
  font-size: 12px !important;
}

.bi.left {
  margin-right: 10px;
}

.bi.right {
  margin-left: 10px;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}

.btn {
  font-weight: 500 !important;
  padding: 0.55em 1em !important;
}

p a, label a {
  text-decoration: none !important;
  font-weight: 600 !important;
  color: #a82828 !important;
}

.accordion-button:not(.collapsed) {
  color: #a82828 !important;
  font-weight: 600 !important;
  background-color: transparent !important;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1140px !important;
  }
}

html, body { height: 100% !important;}

footer {
  position: sticky !important;
  top: 100vh !important;
}

.btn.shadow-sm {
  box-shadow: 0 .175rem .95rem rgba(0,0,0,.380)!important;
}

p, .btn {
  font-size: 1.1em !important;
}

footer p {
  font-size: inherit !important;
}

.list-group-item {
  background-color: #f3f3f3 !important;
}
