body {
  /*background: -webkit-gradient(linear, left top, right bottom, from(#f5e6d7), to(#FFFFFF)) fixed;*/
  font-family: 'Roboto Condensed', sans-serif !important;
}

.primary-brand-color {
  color: #A82828;
}

.btn-primary {
  background-color: #A82828 !important;
  border-color: #A82828 !important;
  font-size: large;
}

.icon {
  font-size: 12px !important;
}

.icon.left {
  margin-right: 10px;
}

.icon.right {
  margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}

p a, label a {
  text-decoration: none !important;
  font-weight: 600 !important;
  color: #a82828 !important;
}

.accordion-button:not(.collapsed) {
  color: #a82828 !important;
  font-weight: 600 !important;
  background-color: transparent !important;
}
