<footer class="footer mt-auto py-3 pt-5 pb-4">
  <div class="container">
<!--    <p style="margin-bottom: 10px !important;">-->
<!--      <span class="text-muted">&copy; {{currentYear}}</span>.-->
<!--      <a href="javascript:void(0)" routerLink="/privacy">Política privacidad</a> |-->
<!--      <a href="javascript:void(0)" routerLink="/legal">Aviso legal</a> |-->
<!--      <a href="javascript:void(0)" routerLink="/cookies">Cookies</a>-->
<!--    </p>-->
    <div class="row">
      <div class="col-6 col-lg-4 mb-3">
        <h5 class="mb-4">Legal</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="javascript:void(0)" routerLink="/privacy">Política privacidad</a></li>
          <li class="mb-2"><a href="javascript:void(0)" routerLink="/legal">Aviso legal</a></li>
          <li class="mb-2"><a href="javascript:void(0)" routerLink="/cookies">Cookies</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-4 mb-3">
        <h5 class="mb-4">Ayuda</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="javascript:void(0)" routerLink="/terms">Términos y condiciones</a></li>
          <li class="mb-2"><a href="javascript:void(0)" routerLink="/faqs">Preguntas frecuentes</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 mb-3">
        <ul class="list-inline mb-4">
          <li class="list-inline-item"><a href="javascript:void(0)" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" target="_blank"><i class="bi bi-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" target="_blank"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" target="_blank"><i class="bi bi-twitter"></i></a></li>
        </ul>
        <img src="assets/images/logo.png" alt="Logo" height="24" width="auto"/>
        <ul class="list-unstyled small mt-2">
          <li class="mb-2"><span class="text-muted">&copy; {{currentYear}}</span> Todos los derechos reservados</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
